
.background{
    width: 100%;
    height: 100vh;
    background-image: url(bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar{
    visibility:initial;
}


.Cities{
    background-color: aliceblue;
    font: optional;
    block-size: auto;
}
.table-responsive{
    background-color: aliceblue; 
    font: optional;
    block-size: auto;
    font-weight: bolder;
}

.head{
    margin-top: 4%;
    color: rgb(43, 0, 0);
    background-color: aliceblue;
    display:inline-block;
    margin-left: 40%;
}

.container{
    position: center;
    margin-top: 7%;
}